.fa-bars:hover {
  border: 2px solid #f3f3f3;
}
.two {
  margin-top: 20px;
}
.left-two {
  position: relative;
}

.left-two li {
  z-index: 3;
}

.left-two li i:hover + .a-name {
  visibility: visible;
}

.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
}
.a-name {
  visibility: hidden;
  font-size: 70%;
  padding: 0 10px;
  text-decoration: none;
}
.menu-collasped {
  font-size: 80%;
  margin-top: 20px;
  opacity: 0;
}
.menu-collasped ul {
  list-style: none;
}
.menu-collasped li {
  margin-top: 10px;
}
.download {
  margin-top: 80px;
  margin-bottom: 0;
}

.menu-collasped li:hover {
  color: #e84118;
}
.menu-animate {
  opacity: 1;
  animation: menu-drop 1s;
}
.left-two ul .download p {
  font-size: 70%;
  padding: 5px;
  z-index: 1;
}
@keyframes menu-drop {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-remove-animate {
  animation: menu-remove 1s;
}
@keyframes menu-remove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
.left-two a {
  text-decoration: none;
}
