/* #resume {
  width: 100%;
  overflow: auto;
}
.resume-container {
  left: 50%;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 80%;
}
*/
.resume .download {
  margin: 30px 0;
  color: #fff;
  text-decoration: none;
}
.resume .download:hover > p {
  color: #e84118;
}

.resume .download p {
  position: absolute;
  right: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.resume h2 {
  margin: 10px 0;
}

.resume-row-left,
.resume.row.right {
  width: 50%;
}

.resume .header {
  font-size: 120%;
}
.resume h3 {
  display: inline-block;
  font-weight: 200;
  margin: 10px;
}
.resume-image-container {
  position: absolute;
  left: 50px;
  top: 100px;
  background-image: url("../static/resume-snippit.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  transform: scale(1);
}
