* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Lato", sans-serif;
  height: 100vh;
  padding: 30px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

@media only screen and (max-width: 1830px) {
  body {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1430px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1260px) {
  .card-container {
    width: 90%;
  }
  .description-body {
    font-size: 100%;
  }

  .work-item {
    height: 400px;
    overflow: hidden;
  }
  .work-item-info {
    height: 100%;
    overflow: auto;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1180px) {
  body {
    font-size: 18px;
  }
  .contact-row {
    display: block;
  }
  .contact-left-one,
  .contact-left-two {
    width: 100%;
  }
  .work-description {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1080px) {
  .resume-image-container {
    left: 50px;
    top: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    width: 100%;
  }
  .projects-list .card-container:nth-child(even) .list-item {
    float: left;
  }

  .projects-list .card-container:nth-child(odd) .list-item {
    flex-direction: row-reverse;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.01);
    transition: transform 0.4s, box-shadow 0.4s;
  }
  .left-two li:hover .a-name {
    /* display: block; */
    visibility: hidden;
  }
  .description-body {
    font-size: 100%;
  }

  .work-item {
    height: 400px;
    overflow: hidden;
  }
  .work-item div {
    width: 50%;
  }
  .work-img {
    position: relative;
  }
  .rescale {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
  }

  .work-item-info {
    height: 100%;
    overflow: auto;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 980px) {
  .main-container {
    flex-direction: column;
  }
  .main-left {
    position: fixed;
    top: 0;
    width: 90%;
    height: 8vh;
    z-index: 1;
  }
  .left-one {
    width: 30%;
    flex-direction: row;
  }
  .fa-bars {
    width: 10%;
    height: 100%;
    line-height: 1.5;
    font-size: 150%;
    position: absolute;
    left: 0;
  }
  .menu-collasped {
    display: inline-block;
    position: relative;
    top: -10%;
    left: 23%;
    width: 80%;
  }
  .menu-collasped ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .left-two {
    height: 100%;
    position: absolute;
    line-height: 2;
    /* border: solid green; */
    width: 70%;
    right: 0%;
  }
  .left-two ul {
    flex-direction: row;
    float: right;
  }
  .download {
    padding-top: 0;
  }
  .main-middle {
    /* border: solid red; */
    position: relative;
    height: 100vh;
    top: 4.5%;
    width: 30%;
    font-size: 80%;
    display: inline-block;
  }
  .main-container-img {
    height: 96%;
  }
  .bla {
    display: inline-block;
    width: 50%;
  }
  .main-right {
    position: absolute;
    top: 4.5%;
    left: 30%;
    width: 66%;
    overflow-x: hidden;
    font-size: 90%;
  }
  .rescale {
    width: 100%;
    left: 50%;
  }
  .description-body {
    overflow-x: hidden;
  }
  .work-item {
    position: relative;
    left: -15px;
    width: 95%;
  }
  .about-me span {
    margin-top: 20px;
  }
  .card-container {
    width: 100%;
    margin-left: -1px;
  }
  .list-item {
    width: 95%;
  }
}
@media only screen and (max-width: 850px) {
  .rescale {
    width: 105%;
    left: 53%;
  }
}
@media only screen and (max-width: 800px) {
  .projects {
    font-size: 85%;
  }
  .resume-image-container {
    left: 50px;
    top: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    transform: scale(1.1);
  }
}
